<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
	<name>Permanent maker</name>
	<description>Mark permamently text on any webpage</description>
  	<author href="yourURL" email="yourEMail">Kamil Pluszczewicz</author>
  	<icon src="permanent_marker.png"/>

	<preference name="markerColor" value="#fff200" />
	<preference name="hotkey" value="ctrlKey" />
</widget>
